<!DOCTYPE html>
<html>
  <head>
    <title>Check-in Dashboard</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("a").click(function () {
          var attrid = $(this).attr('id');
          console.log(attrid);
          
          if (attrid !="newButton"){
          console.log(attrid);
          let mailid="m"+attrid;
          let phoneid = "p"+attrid;
          console.log(mailid);
          var email=document.getElementById(mailid).innerHTML;
          var phoneno = document.getElementById(phoneid).innerHTML;
          console.log(phoneno);
          
           $.get("/logout",
              {
                emailid: email,
                phone: phoneno
              },
              function (data, status) {
                console.log(status);
              });
            }
          });
        });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Visitor's Dashboard</h1>
    <a href="/visitorsignup" class="btn btn-default btn-sm" id="newButton"
          >New Visitor Registration</a
        >
      </div>

      <div class="row">
        <% var i =1;%>
        <% users.forEach(function (user) { %>
        <div  class="col-sm-6" >
          <div class="well">
            <h3 >
              <span class="fa fa-user" id=<%= i %>  </span> <%= user.local.visitorname %>
            </h3>
            <% if (user.local.email) { %>
              <p>
              <p id=<%="m"+i %>><%= user.local.email %></p><br />
              <p id=<%="p"+i %>><%= user.local.visitorphone %></p><br />
              <p id=<%= i %>><%= user.local.cintime %></p>
              </p>
            <a  class="btn btn-default" id=<%= i %>>Checkout</a>
            <% ++i; %>
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
